.carousel-caption {
  border-radius: 1em;
  background: rgba(74, 74, 74, 0.75) 0%;
}

.carousel {
  width: 80%; /* the size of images used changes what this value needs to be */
}

@media (max-width: 2000px) {
  .carousel {
    width:50%;
  }
}
