.login {
    justify-content: center;
    
}
.loginForm {

    border-style: solid;
    border-radius: 10px;
    padding:1em;
    margin:1em;
    display:grid; /*make the Login button the same size as the email and password areas*/

}

.formSegment {
    text-align: center;
}