.profile {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 0.3fr;
  border-style: solid;
  border-radius: 10px;
  padding: 1em;
  margin: 1em;
}

.image {
  align-self: center;
  justify-self: center;
}

.edit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
